#sidebar ul#users-list {
  list-style: none;
  width: 96%;
  padding: 2%;
  margin: 2%;
  height: auto;
}

#users-list li {
  height: 60px;
  width: 100%;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}
#users-list li.ok {
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,255,0,0.75);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,255,0,0.75);
  box-shadow: 0px 0px 20px -4px rgba(0,255,0,0.75);
}
#users-list li.ok:after {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,255,0,0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,255,0,0.75);
  box-shadow: 0px 0px 20px -1px rgba(0,255,0,0.75);
}
#users-list li.ok:hover {
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,255,0,0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,255,0,0.75);
  box-shadow: 0px 0px 20px -1px rgba(0,255,0,0.75);
}
#users-list li.ko {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 20px -4px rgba(255,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -4px rgba(255,0,0,0.75);
  box-shadow: 0px 0px 20px -4px rgba(255,0,0,0.75);
}
#users-list li.ko:after {
  -webkit-box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
  box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
}
#users-list li.ko:hover {
  -webkit-box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
  box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
}
#users-list li:hover {
  -webkit-box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
  box-shadow: 0px 0px 20px -1px rgba(255,0,0,0.75);
}
#users-list li:after {
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#users-list li:hover {
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
}
.top-user-info p,
.bottom-user-info p {
  margin: 0;
}
li .top-user-info {
  height: 50%;
  width: 100%;
  color: #666666;
  padding-bottom: 5px;
  display: block;
}
li .bottom-user-info {
  display: block;
  height: 50%;
  width: 100%;
  color: #444444;
}
